<style>
    .footer {
        position: relative;
        padding: 0.5rem;
        width: 100%;
        height: 10%;
    
        color: #fff;
        background: rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 20px rgba(255, 255, 255, 0.2);
        font-family: "Cairo", sans-serif !important;
      }
    
      .main {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
      }
    
      .last {
        text-align: center;
      }
    
      .one p,
      .two p,
      .three p,
      .four p {
        font-size: 15px;
      }
</style>

<div class="footer">
    <div class="main">
      <div class="one">
        <h5>Get to know us</h5>
        <p>
          About Us<br />
          <br />
          Team<br />
          <br />
          Memories
        </p>
      </div>
      <div class="two">
        <h5>Explore</h5>
        <p>
          Promotional Events<br />
          <br />
          Main Events<br />
          <br />
          Workshops
        </p>
      </div>
      <div class="three">
        <h5>Contact Us</h5>
        <p>
          version21@gmail.com<br />
          <br />
          Jane Doe: 789654321<br />
          <br />
          John Doe: 987654321
        </p>
      </div>
      <div class="four">
        <br />
        <img src="static/images/nitt.png" alt="NITT Logo" width="80" height="80" />
        <p>
          <br />National Institute<br />
          of Technology,<br />
          Tiruchirappalli.
        </p>
      </div>
    </div>
    <div class="last">
      <hr />
      <p>&copy; Copyrights 2021- VERSION EEC. All rights reserved</p>
    </div>
  </div>